@import url('https://fonts.googleapis.com/css?family=Alfa Slab One');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@keyframes fade-up{
    0%{
        opacity:0;
        transform: translateY(-30px) scale(0.9)
    }
    100%{
        opacity:1;
        transform: translateY(0px) scale(1);
    }
}

body {

    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: #151719;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    animation: fade-up 0.5s;
}

body .is-loading{
    opacity:0;
}

.container {
    display: flex;
    flex: 1;
    max-width: 1000px;
    margin: auto;
    margin-top: 0;
    
}

.content {
    flex-grow: 1;
    padding: 15px;
}


.logout a {
    background-color: #01796F;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    margin: 48px 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.logout a:hover {
    background-color: white;
    color: black;
}


header {
    display: flex;
    align-items: center;
    padding: 10px;
}

header img {
    max-width: 100px; /* Adjust the maximum width of the image */
    margin-right: 10px; /* Adjust the margin between the image and the text */
}

nav {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    text-underline-offset: 1px;
    padding: 0 12px; /* Adjust the padding between the text links */
    position: relative;
    transition: color 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}


nav a:hover {
    color: #01796F; /* Adjust the color on hover */
    transform: translateY(-3px);
}

h1 {
    font-size: 30px;
    color:#C5B682;
}

h3{
    color:white;
}


#comment{
    font-family: 'Courier New', Courier, monospace;
}

#name{
    font-family: 'Courier New', Courier, monospace;
}

.profile {
    margin-bottom: 20px; /* Adjust as needed for spacing between comments */
    padding: 10px; /* Add padding for better appearance */
    border: none; /* Add a border for separation */
    border-radius: 5px; /* Add rounded corners */
    color: White;
    width:875px;
  }
  
  .profile {
    color: White; /* Change the color of the name */
    font-size: 18px; /* Adjust the font size of the name */
    margin-bottom: 5px; /* Add spacing between name and date */
  }
  
  /* Style for the buttons */
  .action-button {
    padding: 10px 15px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Style for the Save Changes button */
#saveButton {
    background-color: #01796F; 
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* Style for the Edit button */
#editButton {
    background-color: #01796F; 
    color: white;
    font-family: 'Poppins', sans-serif;
}

#editButton:hover{
    background-color: white;
    color:black;
}

#saveButton:hover{
    background-color: white;
    color:black;
}

